.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }
}
