.main {
    display: flex;
    column-gap: 20px;
    height: 100vh;
    padding-right: 20px;
}

.sidebarWrap {
    width: 310px;
    border-right: 1px solid var(--gray-color);
}

.selectedChatInfo {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--gray-color);
}

.title {
    font-size: var(--font-size-m);
    font-weight: 600;
    margin: 0;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: none;
    background: url('../../assets/images/settings.svg') no-repeat center center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;

    &.active {
        background: var(--gray-color);
    }
}
